version: '2'
services:
  postgres:
    image: 'postgres'
    ports:
      - "5432:5432"
    env_file:
      - '.env'
  redis:
    image: 'redis:3.2-alpine'
    command: redis-server --requirepass askjdhflkajsh
  sidekiq:
    build: .
    command: bundle exec sidekiq
    volumes:
      - '.:/TalkWithSam'
    env_file:
      - '.env'
    links:
      - redis
    depends_on:
      - redis
  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    env_file:
      - '.env'
    volumes:
      - .:/TalkWithSam
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - sidekiq
      # - test
  # test:
  #   build: .
  #   command: bundle exec rake spec
  #   volumes:
  #     - .:/TalkWithSam
  #   depends_on:
  #     - postgres
  #     - sidekiq
  # apipie_test:
  #   build: .
  #   command: bundle exec rake spec
  #   env_file:
  #     - '.env'
  #   volumes:
  #     - .:/TalkWithSam
  #   depends_on:
  #     - postgres
  #     - sidekiq